.navbar_logo h4{
    color: #fff;
    text-transform: uppercase;
    display: inline;
    font-weight: 800;
}
.navbar_logo img{
    width: 45px;
    height: auto;
    animation: rotate infinite 20s linear;
}
.ant-list-item-meta-content{
    cursor: pointer;
}
.ant-list-item-meta-content h4{
    color: #fff;
    font-weight: 600;
    margin-left: 20px;
}
.ant-list-item-meta-content h4:hover{
    font-weight: 900;
}

@keyframes rotate {
    form  { 
            -ms-transform: rotate(0deg); /* IE 9 */
            -webkit-transform: rotate(0deg); /* Safari */
            transform: rotate(0deg);
    }
    to  {
        -ms-transform: rotate(360deg); /* IE 9 */
        -webkit-transform: rotate(360deg); /* Safari */
        transform: rotate(360deg);
    }
}